<div class="page-header">
</div>
<%= link_to 'Back to all pins', pins_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
		<div class="panel-heading center">
			<%= image_tag @pin.image.url(:medium) %>
		</div>
		<div class="panel-body">
			<p><%= @pin.description %></p>
			<p><strong><%= @pin.user.name if @pin.user %></strong></p>

			<% if @pin.user == current_user %>
				<ul class="nav nav-pillars">
		  				<%= link_to edit_pin_path(@pin) do %>
		          <li role="presentation" class="glyphicon glyphicon-pencil"></span></li>
		          edit
		        	<% end %>  
							<%= link_to pins_path do %>
		         	<li role="presentation" class="glyphicon glyphicon-edit"></span></li>
		          back to all pins
		        <% end %>
		    </ul>
	    <% end %>
		</div>
	</div>
</div>
